<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Frameset//EN" "http://www.w3.org/TR/html4/frameset.dtd">
<html>
    <head>
        <title>ajax comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/public/css/base.css" />
        <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/public/js/comment.js"></script>
    </head>
    <body>
        <div class="com">
            <div>
                <div id="comm"></div>
                {{foreach from=$items key=myId item=i}}
                <div >{{$i.ip}}在{{$i.time}}说了{{$i.comment}}&nbsp;&nbsp;&nbsp; <input comment_id="" type="button" onclick="deleted({{$i.id}})" value="刪除"/></div>
                {{/foreach}}
            </div>
            <input id ="comment" type="text" value=""/>
            <input type="button" onclick="comment()" value="提交"/>
        </div>
    </body>
</html>

