<html>
    <head>
        <title>comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/public/js/base.js"></script>
    </head>
    <body>
        <div style="text-align: center">
            <div>
                xx 说 ： hello ,world; <br />
                <div id="comment"></div>
                <input type="text" id="speak"/>
                <input type="submit" value="提交" onclick="comment()"/>
            </div>
        </div>
    </body>
</html>

