<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-transform">
    <title>{{$pTitle}}</title>
    <meta name="Keywords" content="{{$keyWords}}"/>
    <meta name="Description" content="{{$description}}"/>
    <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon"/>
    <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon"/>
    <link type="text/css" rel="stylesheet" href="/public/css/base.css"/>
    <link type="text/css" rel="stylesheet" href="/public/css/user.css"/>
    <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
    <script type="text/javascript" src="/public/js/user.js"></script>
</head>
<body>
<div class="index">
    <!--<input type="text" id="username"/> 账号：<br />-->
    <!--<input type="password" id="password"/> 密码：<br />-->
    <!--<input type="submit" onclick="register()" value="注册"/>-->
</div>
<!--<input type="text" value="1"/>-->
<!--<input type="text" value="2"/>-->
<!--<input type="text" value="3"/>-->
<input id="check" type="checkbox"/>全选 <br />
<input type="checkbox" value="1"><br />
<input type="checkbox" value="2"><br />
<input type="checkbox" value="3"><br />
<input type="checkbox" value="4"><br />
<input type="checkbox" value="66"><br />
</body>
<script type="text/javascript">
    window.onload = function () {
        /*var aBtn = document.getElementsByTagName('input');
        var i = 0;
        for(i=0; i<aBtn.length; i++) {
            aBtn[i].onclick = function() {
                alert(this.value);
                this.backgroundColor = 'red';
            }
        }*/
        var check = document.getElementById('check');
        var aC = document.getElementsByTagName('input');
        var i=0;
        check.onclick = function() {
//            if (check.checked == 0) {
                //check.checked = 1;
                for(i=0; i<aC.length; i++) {
                    aC[i].checked = 1;
//                this.checked = 1;
//                }
            } else {
                check.checked = 0;
                for(i=0; i<aC.length; i++) {
                    aC[i].checked = 0;
//                this.checked = 1;
                }
            }

        }


    }
</script>
</html>