/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-5-24, 11:22:56
    Author     : mark
*/

.index{
    background-color: #ffffff;
    font-weight: 600;
}

.index .welcome{
    margin-top: 5px;
    margin-left: 5px;
    font-size: larger;
    float: left;
}

.index .login{
    margin-top: 5px;
    margin-left: 700px;
    float: left;
}

.index .login a{
    text-decoration: none;
}

