/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2015-5-24, 11:22:56
    Author     : mark
*/
body{
    border: saddlebrown;
    width: 950px;
    height: 1600px;
    margin:auto;
    border:solid 1px snow;
    background-color: silver;
    /*background-image: url(/public/images/DSC_0488.JPG)*/
}

.index{
    background-color: #ffffff;
    font-weight: 600;
}

.index .welcome{
    margin-top: 5px;
    margin-left: 5px;
    font-size: larger;
    float: left;
}

.index .login{
    margin-top: 5px;
    margin-left: 700px;
    float: left;
}

.index .login a{
    text-decoration: none;
}

