.index{
    background-color: #ffffff;
    font-weight: 600;
}

.index .welcome{
    margin-top: 5px;
    margin-left: 5px;
    font-size: larger;
    float: left;
}

.index .login{
    margin-top: 9px;
    margin-right: 10px;
    float: right;
}

.index .login a{
    text-decoration: none;
    color: black;
}

.index .username{
    text-align: center;
}

.comment {
    margin-top: 30px;
}

.comment #contact {
    float: left;
}

.comment #person {
    float: right;
    height: 30px;
    width: 250px;
}

.online {
    margin-top: 50px;
    float: left;
}
