<!DOCTYPE html>
<html>
    <head>
        <title>v2ew</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="/public/images/favicon.ico" type="image/x-icon"/>
        <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon"/>
        <link type="text/css" rel="stylesheet" href="/public/css/base.css"/>
        <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/public/js/base.js"></script>
    </head>
    <body>
        <div class="obj">
            google<input type="text" style="text-align: center" id="google"/>
            <input type="button" onclick="google()" value="搜索"/>
            <div id="banner">
                <a href="/it">技术</a>
                <a href="/qus">问答</a>
                <a href="/job">招聘</a>
            </div>
        </div>
    </body>
</html>
