<html>
    <head>
        <title>menu</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="/public/css/base.css"/>
        <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
        <script type="text/javascript" src="/public/js/base.js"></script>
    </head>
    <body>
        <ul>
            子菜单
            <li>子菜单1</li>
            <li>子菜单2</li>
        </ul>
        <ul>
            子菜单
            <li>子菜单3</li>
            <li>子菜单4</li>
        </ul>
    </body>
</html>
