<html>
    <head>
        <title>Test jquery</title>
        <link type="text/css" rel="stylesheet" href="/public/css/base.css" />
        <script type="text/javascript" src="/public/js/base.js"></script>
        <script type="text/javascript" src="/public/js/jquery-2.1.3.min.js"></script>
    </head>
    <body>
        <div style="">
            <div id="sp">
                spring is coming. 
            </div>
            <input type="button" onclick="show()" value="提交"/>
        </div>
    </body>
</html>
<script lang="javascript">
    function show() {
        var sp = $("#sp");
        if (sp.isPrototypeOf("hide")) {
            sp.show();
        } else {
            sp.hide();
        }
    }
</script>

